@{
    //Load file Layout.cshtml
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";

}
@using X.PagedList
@using X.PagedList.Mvc.Core

                        <div class="col-md-12">
                            <div class="card card-plain table-plain-bg">
                                <div class="card-header ">
                                    <h4 class="card-title">User Table</h4>
                                    <p class="card-category">You can add a new user here</p>
                                </div>
                                <div style="margin-bottom:5px;">
                                    <a href="/Admin/Users/Create" class="btn btn-primary">Add user</a>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th style="width:100px;"></th>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Email</td>
                                                    <td style="text-align:center;">
                                                        <a href="/Admin/Users/Update/@item.Id">Edit</a>&nbsp;
                                                        <a href="/Admin/Users/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <style type="text/css">
                                        .pagination {
                                            padding: 0px;
                                            margin: 0px auto;
                                        }

                                        .pagination-container {
                                            text-align: center;
                                        }
                                    </style>
                                    @Html.PagedListPager((IPagedList)Model,p=>Url.Action("Index", new{page = p}))

                                </div>
                            </div>
                        </div>