@{
    //load file Layout.cshtml vào đây
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- breadcrumb -->
<div class="container" style="margin-top:50px;">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/Home" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<span class="stext-109 cl4">
			Wishlist
		</span>
	</div>
</div>

<!-- Shoping Cart -->
@if (Model.Count == null)
{
	<div class="wrap-table-shopping-cart">
	<h3 style="text-align: center;margin-bottom: 20px; margin-top: 20px;">Your wishlist is empty</h3>
	<p style="text-align: center;margin-bottom: 20px; margin-top: 20px;">Looks like you don't have any product on your wishlist</p>
</div>
	
}

@if (Model.Count != null)
{
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>	
									<th class="column-4"></th>
								</tr>
								@foreach (var item in Model)
								{
									<tr class="table_row">
										<td class="column-1">
											<div class="how-itemcart1">
												<img src="/Upload/Products/@item.Photo" alt="IMG">
											</div>
										</td>
										<td href="/Products/Detail/@item.Id" class="column-2">@item.Name</td>
										<td class="column-3">$@string.Format("{0:#,#.}",item.Price - 
										(item.Price*item.Discount)/100)
											<div style="position:relative;">
												<a href="/Wishlist/Remove/@item.Id" class="btn btn-delete" title="Remove" style="position:absolute; top:-30px; left:100px;">
													<i class="fa fa-times-circle" aria-hidden="true"></i>
												</a>
											</div>
										</td>
										
									</tr>
								}
							</table>
						</div>						
					</div>
				</div>				
			</div>
		</div>
	</form>

}


