@{
    //load file Layout.cshtml vao day
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        input[type=email], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
            button:hover {
                opacity: 0.8;
            }
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }
        img.avatar {
            width: 40%;
            border-radius: 50%;
        }
        .container {
            padding: 16px;
        }
        span.password {
            float: right;
            padding-top: 16px;
        }
        span.register{
            padding-top: 16px;
            margin-right: 10px;
        }
        form{
            margin-top: 100px;
            margin-bottom: 0px;
            background-color: #f1f1f1;
        }
        /* Change styles for span and cancel button on extra small screens */
    </style>
</head>
<body style="background-color:#f1f1f1;">
    <form action="/Account/LoginPost" method="post" autocomplete="off" name="frm-login"> 
        <div>
            <h2 style="text-align:center;">Login</h2>
    </div>  
        <div class="container">
            <fieldset class="wrap-title">
        <label for="email"><b>Email</b></label>
        <input type="email" name="email" placeholder="Enter Email" required>
      </fieldset>

      <fieldset class="wrap-title">
        <label for="password"><b>Password</b></label>
        <input type="password" name="password" placeholder="Enter Password" required>
      </fieldset>

      <fieldset class="wrap-title">
        <input type="submit" value="Login" class="btn btn-primary">                             
      </fieldset>       
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button href="/Home" class="cancelbtn">Cancel</button>
            <span class="password">Forgot <a href="#">password?</a></span>
            <span class="register">You dont have an account? <a href="/Account/Register">Register now</a></span>
            @if (!String.IsNullOrEmpty(Context.Request.Query["notify"]) && Context.Request.Query["notify"] == "register-success")
            {
                <div class="alert alert-success">Account registration successful, please login!</div>

            }
            @if (!String.IsNullOrEmpty(Context.Request.Query["notify"]) && Context.Request.Query["notify"] == "login-invalid")
            {
                <div class="alert alert-danger">Please login again!</div>

            }
        </div>
    </form>


</body>
</html>
